<div class="main_component">
    <div class="div-flex">
        <h1><span class="material-symbols-outlined">
            app_registration
            </span> Regisztráció</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label for="email">E-mail cím </mat-label>
                <input matInput type="email" formControlName="email" required/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="password">Jelszó </mat-label>
                <input matInput type="password" formControlName="password" required/>
                <mat-hint>min. 6 karakter</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="rePassword">Jelszó újra </mat-label>
                <input matInput type="password" formControlName="rePassword" required/>
                <mat-hint>min. 6 karakter</mat-hint>
            </mat-form-field>
            <div formGroupName="name" class="subForm">
                <mat-form-field appearance="outline">
                    <mat-label for="firstname">Vezetéknév </mat-label>
                    <input matInput type="text" formControlName="firstname" required/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label for="firstname">Keresztnév </mat-label>
                    <input matInput type="text" formControlName="lastname" required/>
                </mat-form-field>
            </div>
            <div>
                <span class="buttons">
                    <button mat-raised-button color="primary" type="submit">Regisztráció</button>
                </span><span class="buttons">
                    <button mat-raised-button color="primary" (click)="goBack()">Vissza</button>
                </span>
            </div>
        </form>
    </div>
</div>