<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout()"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="onToggleSidenav(sidenav)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div><span class="material-symbols-outlined">ecg</span> Vérnyomás monitorozó orvosi alkalmazás</div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/main" *ngIf="loggedInUser">Kezdőlap</a></li>
            <li><a routerLink="/login" *ngIf="!loggedInUser">Bejelentkezés</a></li>
            <li><a routerLink="/login" *ngIf="loggedInUser" (click)="logout()">Kijelentkezés</a></li>
            <li><a routerLink="/signup" *ngIf="!loggedInUser">Regisztráció</a></li>
            <li><a class="addNewBP" (click)="openAddEditMesurement()" *ngIf="loggedInUser">Új vérnyomás érték rögzítése</a></li>
            <li><a href="#" routerLink="/about">Rólam</a></li>
          </ul>
        </div>   
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>