<app-menu (selectedPage)="changePage($event)"></app-menu>
<ng-container [ngSwitch]="page">
  <ng-container *ngSwitchCase = "'main'">
    <div class="main-wrapper">
      <app-main></app-main>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase = "'bp'">
    <div class="main-wrapper">
      <app-bpmeasurement-add-edit></app-bpmeasurement-add-edit>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase = "'about'">
    <div class="main-wrapper">
      <app-about></app-about>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
      <h1>A keresett oldal nem található.</h1>
  </ng-container>
</ng-container>





<!-- <router-outlet></router-outlet> -->